<div class="container mx-auto pt-10">
  <div class="mt-4 flex flex-col items-center">
    <img
      class="size-20 rounded-md bg-gray-400 p-3"
      src="https://cdn-icons-png.flaticon.com/512/9732/9732800.png"
      alt="Your Company"
      width="80"
      height="80"
    />
    <h2 class="mt-5 text-xl font-semibold text-gray-800">Account verification</h2>
  </div>
  @if (loading()) {
    <div class="flex flex-col justify-center items-center">
      <fa-icon class="ml-2 text-primary animate-spin" icon="spinner" size="2x"></fa-icon>
      <span>Verifying account...</span>
    </div>
  } @else {
    <div class="mt-4 flex flex-col items-center mx-auto max-w-[500px]">
      <div class="p-4 rounded-lg bg-white w-full border border-gray-200">
        @if (message()) {
          <div class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50">
            <p class="text-sm font-medium">{{ message() }}</p>
          </div>
        }
        @if (error()) {
          <div class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50">
            <p class="text-sm font-medium">{{ error() }}</p>
          </div>
        }
        <div class="mt-4">
          <a [routerLink]="['/reset-password']" class="mt-4 text-base text-blue-600 hover:underline"
            >Forgot Password?</a
          >
          <div class="mt-3 flex items-center justify-between">
            <a
              href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=PWlAu3anniGd9FmIdI0nSnIW7y0Mburm2Az_NsIginA"
              class="bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm"
              >Log In</a
            >
            <a
              [routerLink]="['/']"
              class="inline-flex justify-center items-center bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm"
            >
              Back to home
              <fa-icon [icon]="'chevron-right'" class="fa-fw"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  }
</div>
